body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  .content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .map-container {
    opacity: 0; /* Start with the map invisible */
    transition: opacity 2s ease-out; /* Transition effect for the opacity */
  }
  
  .map-container.visible {
    opacity: 1; /* Make the map visible when in viewport */
  }
  